*,
*::before,
*:after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #1c1a21;
}

.backgraund {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.backgraund .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#1845ad, #23a2f6);
    left: -80px;
    top: -90px;
}

.shape:last-child {
    background: linear-gradient(to right, #ff512f, #f09819);
    right: -80px;
    bottom: -90px;
}

form {
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    margin-left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0px 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
}

.social {
    margin-top: 30px;
    display: flex;
}

.social div {
    width: 150px;
    border-radius: 3px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    text-align: center;
}

.social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

.social .fb {
    margin-left: 25px;
}

@media (max-width: 1024px) {

    form {
        height: 600px;
        width: 500px;
    }


    label {
        margin-top: 40px;
    }

    input {
        height: 60px;
        width: 100%;
        font-size: 16px;
    }

    button {
        width: 100%;
        height: 65px;
        font-size: 20px;
    }

    .social div {
        width: 220px;
        border-radius: 3px;
        padding: 5px 10px 10px 5px;
    }

    .social .go,
    .fb {
        margin-top: 10px;
        font-size: 25px;
    }

    .shape:first-child {
        left: -120px;
        top: -120px;
    }

    .shape:last-child {
        right: -120px;
        bottom: -120px;
    }
}


@media (max-width: 480px) {
    form {
        height: 420px;
        width: 330px;
    }

    label {
        margin-top: 10px;
    }

    input {
        height: 35px;
        font-size: 14px;
    }

    button {
        margin-top: 15px;
        height: 40px;
        font-size: 18px;
    }

    .social div {
        width: 120px;
        margin: 0px;
    }


    .social .go,
    .fb {
        margin: 0px;
        font-size: 18px;
    }

    .backgraund .shape {
        height: 180px;
        width: 180px;
    }

    .shape:first-child {
        left: 10px;
        top: 10px;
    }

    .shape:last-child {
        right: 10px;
        bottom: 10px;
    }
}

@media (max-width: 380px) {

    form {
        height: 420px;
        width: 315px;
    }

    .backgraund .shape {
        height: 160px;
        width: 160px;
    }

    .shape:first-child {
        left: 15px;
        top: 15px;
    }

    .shape:last-child {
        right: 15px;
        bottom: 15px;
    }
}


@media (max-width: 330px) {
    form {
        height: 420px;
        width: 300px;
    }

    .backgraund .shape {
        height: 140px;
        width: 140px;
    }

    .shape:first-child {
        left: 0px;
        top: 0px;
    }

    .shape:last-child {
        right: 0px;
        bottom: 0px;
    }
}